<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.squirrel.addressbook"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="com.squirrel.addressbook.provider.READWRITE"/>
    <uses-permission android:name="com.squirrel.addressbook.provider.READWRITE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AddActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/add_contact_titile"/>

        <activity android:name=".EditActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/edit_contact_text"/>

        <activity android:name=".SearchActivity"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/search_contatc_totle"/>

        <provider
            android:authorities="com.squirrel.addressbook.provider"
            android:name="com.squirrel.addressbook.ContactsProvider"
            android:exported="true"
            android:readPermission="com.squirrel.addressbook.provider.READWRITE"
            android:writePermission="com.squirrel.addressbook.provider.READWRITE"/>

    </application>

</manifest>
